{$PROTOCOL}://{$DOMAIN_NAME} {
    encode zstd gzip

    header /opensearch.xml Content-Type "application/opensearchdescription+xml"
    header /manifest.webmanifest Content-Type "application/manifest+json"
    header Cache-Control "max-age=1728000"
    header Access-Control-Allow-Origin "*"

    root * /srv
    file_server
    try_files {path} /
}
