<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="search" href="<%= fullUrl %>opensearch.xml" type="application/opensearchdescription+xml" title="<%= title %>">
    <!-- PWA Required -->
      <meta name="viewport" content="width=device-width,initial-scale=1.0,minimal-ui">
      <title><%= title %></title>
      <link rel="icon" href="<%= baseUrl %>favicon.ico">
      <link rel="apple-touch-icon" href="<%= baseUrl %>apple-touch-icon.png" sizes="180x180">
      <link rel="mask-icon" href="<%= baseUrl %>mask-icon.svg" color="#EEEEEE">
      <meta name="theme-color" content="#eeeeee">
    <!-- 'Dynamic' meta -->
      <meta name="twitter:title" content="<%= title %>">
      <meta property="og:title" content="<%= title %>">
      <meta name="twitter:card" content="summary">
      <meta property="og:type" content="website">
      <meta name="description" content="<%= description %>">
      <meta property="og:description" content="<%= description %>">
      <meta name="twitter:description" content="<%= description %>">
      <meta property="og:image" content="<%= fullUrl %>img/icons/android-chrome-512x512.png">
      <meta name="twitter:image" content="<%= fullUrl %>img/icons/android-chrome-512x512.png">
      <meta property="og:url" content="<%= fullUrl %>">
      <meta property="og:locale" content="en_US">
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
